@font-face {
  font-family: Forum;
  src: url(assets/fonts/Forum-Regular.ttf);
}

ul li {
  display: inline;
  list-style-type: none;
}

:root {
  --main-bg-dark: #030303;
  --main-bg-white: #fff;
  --main-bg-gold: #9d8665;
  --main-color-dark-red: #710707;
  --main-font-primary: Roboto, sans-serif;
  --main-font-secondary: Forum;
  --main-font-size-xl: 80px;
  --main-font-size-l: 32px;
  --main-font-size-md: 28px;
  --main-font-size-sm: 22px;
  --main-font-size-xs: 18px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section_dark {
  background-color: var(--main-bg-dark);
}

.section__title_light {
  color: var(--main-bg-white);
}

/* ========================= page-header */

.page-header {
  padding: 74px 0;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head__logo {
  display: flex;
  align-items: baseline;
}

.head__nav {
  display: flex;
  align-items: center;
}

.head__title {
  /* padding-left: 20px; */
  column-gap: 20px;
  font-family: var(--main-font-secondary);
  font-weight: normal;
  font-size: var(--main-font-size-md);
  line-height: 50px;
  color: var(--main-bg-white);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav__item {
  padding-left: 76px;
  font-family: var(--main-font-primary);
  font-size: var(--main-font-size-sm);
  font-weight: 100;
  line-height: 50px;
  color: var(--main-bg-white);
  letter-spacing: 2px;
}

/* ========================= welcome */

.welcome__wall {
  max-width: 1920px;
  height: 750px;
  margin: 0 auto;
  background-image: url(assets/img/louvre-wall.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1215px;
}

.welcome__block {
  padding-top: 115px;
  padding-bottom: 28px;
}

.section__title {
  font-family: var(--main-font-secondary);
  font-size: var(--main-font-size-xl);
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section__title_light {
  color: var(--main-bg-white);
}

.section__title_gold {
  color: var(--main-bg-gold);
}

.welcome__more {
  font-family: var(--main-font-primary);
  font-size: var(--main-font-size-md);
  font-weight: 300;
  line-height: 33px;
  color: var(--main-bg-white);
  letter-spacing: 2px;
}

/* ========================= visiting */

.visiting {
  padding-bottom: 75px;
}

.visiting__section {
  padding-top: 76px;
  padding-bottom: 25px;
  border-bottom: 3px solid var(--main-color-dark-red);
}

.visiting__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* column-gap: 60px; */
  row-gap: 78px;
  padding-top: 75px;
}

.visiting__item {
  text-decoration: none;
}

.visiting__name {
  font-family: var(--main-font-secondary);
  font-size: var(--main-font-size-l);
  line-height: 35px;
  color: var(--main-bg-dark);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.visiting__block {
  padding-top: 25px;
}

.visiting__how {
  padding-top: 21px;
  font-family: var(--main-font-primary);
  font-size: var(--main-font-size-sm);
  line-height: 26px;
  color: var(--main-bg-dark);
}

.visiting__place {
  padding-top: 10px;
  font-family: var(--main-font-primary);
  font-size: var(--main-font-size-xs);
  line-height: 21px;
  color: var(--main-bg-dark);
}

/* ========================= explore */

.explore {
  padding-bottom: 75px;
}

.restore {
  display: flex;
  padding-top: 75px;
  column-gap: 61px;
}

.explore__title {
  margin-bottom: 103px;
}

.explore__info {
  margin-bottom: 25px;
  font-family: var(--main-font-primary);
  font-weight: 300;
  font-size: var(--main-font-size-sm);
  line-height: 38px;
  color: var(--main-bg-white);
}

.restore__example {
  padding-top: 12px;
}